Flask
Flask-Cors
gunicorn==19.9.0
uuid==1.30
bs4==0.0.1
numpy
torch
scipy
Unidecode==1.1.1
soundfile==0.10.3.post1
matplotlib
requests==2.24.0
pyyaml==5.3.1
colorama==0.4.3
librosa
inflect>=0.2.5
nltk==3.5.0
loguru==0.5.3